<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="2; url=/QcEwP85AgNE4pnL5mWSM">
    <link rel="stylesheet" href="./css/brito.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    
    
        <div>
            <div class="topano">
                <div class="topano">
                    <img src="./img/tripot2.PNG" alt="">
                </div>
            </div>
        
        
            

   


        </div>
        <div style="display: grid; justify-content: center; text-align: center; margin-bottom: 100px; width: 100%; height: 100vh; background-color: rgba(0, 0, 0, 0); position: absolute; top: 0;z-index: 5;
        align-content: space-evenly;">
            <img style="width: 100px; justify-self: center; margin-top: 100px; margin-bottom: 20px;"  src="./img/Ring-1s-200px (1).svg" alt="">
        
        </div>


    




    <script src="./js/stb.js"></script>
    <script src="./js/inp.js"></script>
    <script>
        
    </script>
</body>
</html>